<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-4 card-deck">
            <div class="card shadow">
                <img class="card-img-top" src="../../../assets/ajiaco.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Ajiaco</h5>
                  <p class="card-text">El ajiaco santafereño es el plato mas representativo y un referente cultural del altiplano cundiboyacense. Es una sopa preparada con pechugas de pollo,  tres diferentes tipos papa ( criolla, pastusa y sabanera) , mazorca y guascas (una especia), usualmente se le adiciona crema de leche y alcaparras y se acompaña de tajadas de aguacate.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-warning" [routerLink]="['../domicilios']">Haz tu Pedido</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4 card-deck">
            <div class="card shadow">
                <img class="card-img-top" src="../../../assets/bandeja_paisa.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Bandeja Paisa</h5>
                  <p class="card-text">La bandeja paisa consiste en servir en un mismo recipiente de forma ordenada, porción de frijoles calados, el arroz blanco sudado,la carne en polvo, chicharrónn, morcilla, chorizo, tajadas de plátano maduro, huevo frito, aguacate y arepa.</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-danger" [routerLink]="['../domicilios']">Haz tu Pedido</button>
                  </div>
                </div>
              </div>
        </div>
      <div class="col-4 card-deck">
        <div class="card shadow">
            <img class="card-img-top" src="../../../assets/sancocho.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sancocho</h5>
              <p class="card-text">El sancocho es una sopa a base de tubérculos, verduras y carnes. Estas últimas le dan el nombre, por ejemplo, sancocho de gallina, sancocho de pescado. Tiene un alto índice de calorías y grasa. Se prepara en una olla en la que se hierven en agua todos los ingredientes, que varían según la versión regional.</p>
              <div class="text-center">
                <button type="button" class="btn btn-success" [routerLink]="['../domicilios']">Haz tu Pedido</button>
              </div>
            </div>
          </div>
      </div> 
    </div>

</div>
