<!-- Carrito -->
<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Empieza con tu pedido
    </div>
   
    <!-- Primer Producto -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
      </div>
   
      <div class="image">
        <img src="item-1.png" alt="" />
      </div>
   
      <div class="description">
        <p>Sancocho</p>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
            <img src="../../../assets/minus.svg" alt="" />
          </button>
        <input type="text" name="name" value="1">
        <button class="plus-btn" type="button" name="button">
            <img src="../../../assets/plus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$15.000</div>
    </div>
   
    <!-- Segundo Producto -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
      </div>
   
      <div class="image">
        <img src="item-2.png" alt=""/>
      </div>
   
      <div class="description">
        <p>Ajiaco</p>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
            <img src="../../../assets/minus.svg" alt="" />
          </button>
        <input type="text" name="name" value="1">
        <button class="plus-btn" type="button" name="button">
            <img src="../../../assets/plus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$18.000</div>
    </div>
   
    <!-- Tercer Producto -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
      </div>
   
      <div class="image">
        <img src="item-3.png" alt="" />
      </div>
   
      <div class="description">
        <p>Bandeja Paisa</p>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
            <img src="../../../assets/minus.svg" alt="" />
          </button>
        <input type="text" name="name" value="1">
        <button class="plus-btn" type="button" name="button">
            <img src="../../../assets/plus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$19.000</div>
    </div>
    <!--Datos-->
    <div class="datos">
        <form>
    
            <div class="form-group"> <!-- Nombre -->
                <label for="full_name_id" class="control-label">Nombre Completo</label>
                <input type="text" class="form-control" id="full_name_id" name="full_name">
            </div>    
        
            <div class="form-group"> <!-- Street 1 -->
                <label for="street1_id" class="control-label">Dirección</label>
                <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Calle, Numero">
            </div>                    
                                    
            <div class="form-group"> <!-- Street 2 -->
                <label for="street2_id" class="control-label">Dirección 2</label>
                <input type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartamento, Oficina, Unidad, Piso">
            </div>    
        
            <div class="form-group"> <!-- Barrio-->
                <label for="barrio_id" class="control-label">Barrio</label>
                <input type="text" class="form-control" id="barrio_id" name="city" placeholder="Centro">
            </div>                                    
            
            <div class="form-group"> <!--City Button -->
                <label for="city_id" class="control-label">Ciudad</label>
                <select class="form-control" id="city_id">
                    <option value="PEI">Pereira</option>
                    <option value="DSQ">Dosquebradas</option>
                </select>                    
            </div>
    
            <div class="form-group" align="center" style="color: white"> <!-- Submit Button -->
                <a type="submit" class="btn btn-success">Enviar! Tengo Hambre</a>
            </div>     
            
        </form>
    </div>    
 </div>